@page "/Movies"
@inject IRepository _repository



<MudCarousel Class="mud-width-full" Style="height:460px; width:1270px;"
             ShowArrows="@arrows" ShowBullets="@bullets"
             EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle"
             TData="Movies">
    @foreach (var group in Movies.Chunk(4))
    {
        <MudCarouselItem Class="d-flex flex-wrap">
            @foreach (var movies in group)
            {
                <MudCard Elevation="0" Outlined="true" Style="width:300px; height:440px; margin-left:10px;">
                    <MudCardMedia Image="@movies.Cover.ToString()" Style="width:270px; height:380px; margin-top:10px; margin-left:10px;" />
                    <MudText Typo="Typo.subtitle2" Align="Align.Center">@movies.Title</MudText>
                </MudCard>
            }
        </MudCarouselItem>
    }
</MudCarousel>

<MudDivider/>
<div class="d-flex flex-wrap" style="margin-top:20px;">
    <div class="d-flex flex-wrap align-content-center">
        <GenericList Lists="Movies">
            <RecordFound Context="movie">
                <MudLink Href="@($"ViewMovie/{@movie.IdMovie}")">
                <MudCard Elevation="0" Outlined="true" Style="width:205px; height:290px; margin-left:10px;">
                    <MudCardContent>
                        <div class="flex-wrap align-content-center">
                            <MudImage Src="@movie.Cover" Width="170" Height="220" Alt="@movie.Title" />


                            <MudText Align="Align.Center" Typo="Typo.subtitle2">@movie.Title</MudText>
                                @*<p class="mb-2">Description: @movie.Description</p>
                                <p class="mb-0">Classification: @movie?.IdClassificationNavigation?.Name</p>
                                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Update" Color="Color.Primary" Href="@($"UpdateMovie/{movie.IdMovie}")" ButtonType="ButtonType.Submit">Edit</MudButton>*@
                            
                        </div>
                    </MudCardContent>
                </MudCard>
                </MudLink>
            </RecordFound>
        </GenericList>
    </div>
</div>




@code {
    private List<Movies> Movies { get; set; }
    private bool arrows = true;
    private bool bullets = false;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await _repository.Get<List<Movies>>("api/Movies");
            if (response.Error)
            {
                Console.WriteLine(response.GetBody());
            }
            else if (response.Response != null)
            {
                Movies = response.Response;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            // Manejar el error de alguna manera, por ejemplo, mostrar un mensaje de error en la página
        }
    }
}
