@page "/Movies"
@inject IRepository _repository

<h3>MoviesList</h3>

<MudTable Items="@Movies" Virtualize="true">
    <HeaderContent>
        <MudTh>Cover</MudTh>
        <MudTh>Title</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Classification</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd><img src="@context.Cover" width="100" height="100" alt="Descripción de la imagen" /></MudTd>
        <MudTd>@context.Title</MudTd>
        <MudTd>@context.Description</MudTd>
        <MudTd>@context?.IdClassificationNavigation?.Name</MudTd>
        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Update" Color="Color.Primary" Href="@($"UpdateMovie/{context.IdMovie}")" ButtonType="ButtonType.Submit">Edit</MudButton>
    </RowTemplate>
</MudTable>

@code {
    private List<Movies> Movies { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await _repository.Get<List<Movies>>("api/Movies");
            if (response.Error)
            {
                Console.WriteLine(response.GetBody());
            }
            else if (response.Response != null)
            {
                Movies = response.Response;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            // Manejar el error de alguna manera, por ejemplo, mostrar un mensaje de error en la página
        }
    }
}
